@use "../../helpers/" as *;

.slider-button {
  background-color: var(--color-gray-50);
  color: var(--color-light);   
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent);
  }
  border-radius: 50%;
}
